absl-py
appnope
astor
attrs
backcall
bleach
certifi
chardet
cycler
decorator
defusedxml
entrypoints
fuzzywuzzy
gast
google-pasta
grpcio
h5py
idna
importlib-metadata
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
joblib
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
Keras
Keras-Applications
Keras-Preprocessing
kiwisolver
Markdown
MarkupSafe
matplotlib
mistune
more-itertools
nbconvert
nbformat
notebook
numpy
pandas
pandocfilters
parso
pexpect
pickleshare
prometheus-client
prompt-toolkit
protobuf
ptyprocess
Pygments
pyparsing
pyrsistent
python-dateutil
pytz==2019.2
PyYAML
pyzmq
qtconsole
requests
scikit-learn
Send2Trash
six
sklearn
tensorboard
tensorflow-estimator
termcolor
terminado
testpath
tornado
traitlets
urllib3
wcwidth
webencodings
Werkzeug
widgetsnbextension
wrapt
zipp
